div {
  margin-bottom: 20px;
}

input {
  margin-left: 25px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form {
  padding: 20px;
  background-color: #eee;
}

.addButton {
  background-color: #222;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}