.likeButton {
    background-color: #222;
    border: none;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.deleteButton {
    background-color: #ff0000;
    border: none;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
  
p {
    margin: 5px;
}

.picCard {
    display: inline-block;
    margin: 25px;
  }

.likeButtonDiv {
    margin: auto;
    padding: 15px;
    background-color: #ddd;
    width: 220px;
}